# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

Data Science Tools:
1. Jupyter Notebook
2. RStudio
3. Spyder

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [7]:
minutes = int(input("Enter Minutes: "))
hour = minutes / 60
print(hour)
#This will convert 200 minutes to hours by diving by 60

Enter Minutes:  200

3.3333333333333335

Objectives: List popular languages for Data Science

1. Python
2. R
3. SQL
4. Julia
5. Scala

## Author:
Megh Mridul Minz